/*
 Theme Name:   newstore child
 Theme URI:    https://weblancerbd.com
 Description:  Resell Now is a Ecommerce Child theme
 Author:        Md. Abu Based
 Author URI:   https://weblancer.com/
 Template:     newstore
 Version:      8.0.0
 License:      GNU General Public License v2 or later
 License URI:  LICENSE
 Tags:e-commerce, portfolio, blog, custom-logo, custom-header, custom-menu, featured-images, full-width-template, right-sidebar, left-sidebar, sticky-post, theme-options, threaded-comments, translation-ready, one-column, two-columns, footer-widgets, rtl-language-support
 Text Domain:  resellnow
*/

.overlay-inner {
    bottom: 10px;
    background: linear-gradient(to bottom, transparent 67%, rgba(0, 0, 2, 1.7) 80%);
    color: #39dcff!important;
    text-shadow: 3px 3px 4px lightskyblue;
	padding:0;
}
.site-branding img.custom-logo {
    max-width: 200px;
    border: 1px solid #000;
    padding: 10px;
    border-radius:2px;
}
#blog-content {
    padding-top: 10px;
}
.site-branding img.custom-logo {
padding:0;
}
.product-catalogue-menu > li > a{
padding: 5px 10px;
border-bottom: 1px solid
#ECEFF1;
}
.product-catalogue-menu > li > a:hover{
color:
#F57F17;
background:
#ECEFF1;
}
footer.site-footer.footer {
    background: linear-gradient(to top,#7bf8ff ,#1996b1);
}
header#masthead.sticky-head #sticky-header-container {
    background: linear-gradient(#7bf8ff ,#1996b1);
}

.woocommerce-MyAccount-navigation {
display:none;
}
.woocommerce-account .woocommerce-MyAccount-content {
    width: 100%;
}
a{color:black;}
a:hover,a:focus{ color: #F57F17 !important;}

@media(max-width:767px) {
  #TF-Navbar {
		background: linear-gradient(450deg,#7bf8ff ,#1996b1);
    }
 .header-topbar{
		display:none;
	}
	.woocommerce-MyAccount-navigation {
display:block;
} 
	#TF-Navbar ul{
		margin-left:0;
		padding:0;
	}
		#TF-Navbar ul li{
		margin-bottom:2px;
	}
}







/* Replace color value */
.widget ul li:hover:before,.calendar_wrap tfoot td:hover,
.calendar_wrap tfoot td:hover a,
.calendar_wrap tbody td:hover,.calendar_wrap td a:hover,.entry-title.post-title a:hover,.post-meta-item:hover i,
.post-meta-item:hover a{
    color: #1392AD !important;
}
.calendar_wrap caption,.cart-link-contents span.count,
.wishlist-link-contents span.count,.woocommerce-page div.product div.summary a.button.add_to_wishlist,.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,.btn-main-slide,.btn-main-slide,.woocommerce ul.products li.product .onsale, .woocommerce span.onsale,.product-van-heading {
    background-color:#1392AD !important;
}
.btn-theme-border,.widget ul li:hover:before,#scroll-top {
    border: 1px solid #1392AD !important;
}
#scroll-top,.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce input.button,.woocommerce #respond input#submit.disabled:hover,
.woocommerce #respond input#submit:disabled:hover,
.woocommerce #respond input#submit:disabled[disabled]:hover,
.woocommerce a.button.disabled:hover,
.woocommerce a.button:disabled:hover,
.woocommerce a.button:disabled[disabled]:hover,
.woocommerce button.button.disabled:hover,
.woocommerce button.button:disabled:hover,
.woocommerce button.button:disabled[disabled]:hover,
.woocommerce input.button.disabled:hover,
.woocommerce input.button:disabled:hover,
.woocommerce input.button:disabled[disabled]:hover{
    background-color: #1392AD9c !important;
}
