/*
 Theme Name:   ResellNow
 Theme URI:    https://weblancerbd.com
 Description:  Resell Now is a Ecommerce Child theme
 Author:        Md. Abu Based
 Author URI:   https://weblancerbd.com/
 Template:     newstore
 Version:      8.0.0
 License:      GNU General Public License v2 or later
 License URI:  LICENSE
 Tags:e-commerce, portfolio, blog, custom-logo, custom-header, custom-menu, featured-images, full-width-template, right-sidebar, left-sidebar, sticky-post, theme-options, threaded-comments, translation-ready, one-column, two-columns, footer-widgets, rtl-language-support
 Text Domain:  resellnow
*/

.overlay-inner {
    bottom: 10px;
    background: linear-gradient(to bottom, transparent 67%, rgba(0, 0, 2, 1.7) 80%);
    color: #39dcff!important;
    text-shadow: 3px 3px 4px lightskyblue;
	padding:0;
}
.site-branding img.custom-logo {
    max-width: 200px;
    border: 1px solid #000;
    padding: 10px;
    border-radius:2px;
}
#blog-content {
    padding-top: 10px;
}
.site-branding img.custom-logo {
padding:0;
}
.product-catalogue-menu > li > a{
padding: 5px 10px;
border-bottom: 1px solid
#ECEFF1;
}
.product-catalogue-menu > li > a:hover{
color:
#F57F17;
background:
#ECEFF1;
}
footer.site-footer.footer {
    background: linear-gradient(to top,#7bf8ff ,#1996b1);
}
header#masthead.sticky-head #sticky-header-container {
    background: linear-gradient(#7bf8ff ,#1996b1);
}

.woocommerce-MyAccount-navigation {
display:none;
}
.woocommerce-account .woocommerce-MyAccount-content {
    width: 100%;
}
a{color:black;}
a:hover,a:focus{ color: #F57F17 !important;}

@media(max-width:767px) {
  #TF-Navbar {
		background: linear-gradient(450deg,#7bf8ff ,#1996b1);
    }
 .header-topbar{
		display:none;
	}
	.woocommerce-MyAccount-navigation {
display:block;
} 
	#TF-Navbar ul{
		margin-left:0;
		padding:0;
	}
		#TF-Navbar ul li{
		margin-bottom:2px;
	}
}
